<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <configsections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configsections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <containers alias="Repository" type="UnityTest.Repository, UnityTest">
      <container>
        <types>
          <type type="Application.ICalculator, InterfaceLibrary"
                mapto="Application.Calculator, CalculatorLibrary" />
          <type type="Application.IInputParseService, InterfaceLibrary"
                mapto="Application.InputParseService, CalculatorCommandParsingLibrary" />
          <type type="Application.IInputService, InterfaceLibrary"
                mapto="Application.ConsoleInputService, InputOutputLibrary" />
          <type type="Application.IOutputService, InterfaceLibrary"
                mapto="Application.ConsoleOutputService, InputOutputLibrary" />
        </types>
      </container>
    </containers>
  </unity>

</configuration>